{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('showAllParkings') }}
{% endblock %}

{% block title %} Всі автомобілі  {% endblock %}

{% block body %}

    <div class="intro">
        <h2 class="text-center">Зареєстровані Автомобілі</h2>
        <p class="text-center">Можна глянути деталі свого авто</p>
    </div>

<table class="table table-hover all-vehicles">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ім'я</th>
      <th scope="col">Адреса</th>
      <th scope="col">Телефон</th>
      <th scope="col">Тип</th>
      <th scope="col">Авто</th>
      <th scope="col">Номера</th>
      <th scope="col">Коментар</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">


    {% for entry in parking %}
        <tr data-product-id={{ entry.id }} onclick="window.location='/parking/{{entry.id}}'">	
            <td>{{ entry.id }}</td>
            <td class="text-capitalize">{{ entry.name }}</td>
            <td class="text-capitalize">{{ entry.address }}</td>
            <td>{{ entry.phone }}</td>
            <td>{{ entry.type }}</td>
            <td>{{ entry.vehicle }}</td>
            <td>{{ entry.licensePlate | default("не вказано") }}</td>
            <td>{{ entry.comment }}</td>
        </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
